/* GENERAL */
*{
    margin: 0;
}

header{
    background-color: black;
}

body{
    background-color: grey;
    color: red;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 1.5rem;
}

nav>ul>li{
    margin-right: 10px;
}

h2{
    text-align: center;
    color: darkred;
    text-decoration: underline;
}

section{
    height: 900px;
    text-align: center;
    padding-top: 200px;
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TODO LIST */

/* Log In */

#logIn{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction:column;
    background-color:black;
    height:300px;
    width: 300px;
    margin: auto;
    border-radius: 20px;
    border: solid 2px red;
}

#logInDetail{
    height: 100px;
}

#logInBtn>button:hover{
    cursor: pointer;
}

/* User List */


#todoList{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: solid 2px red;
    text-align: center;
    margin: auto;
    
}

#userList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
}

li>button:hover{
    cursor: pointer;   
}

li>button:first-child{
    background-color: black;
    color: green;
    border: none;
}

li>button:last-child{
    background-color: black;
    color: red;
    border: none;
}

#user {
    width: 100%;
}

/*  FIN TODO LIST */

/* rajout test 1.2 */

/* COLOR PICKER */

#choiceColor{
    background-color: black;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: solid 2px red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBtn:hover{
    cursor: pointer;
}

#colorBg{
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: solid 2px red;
    margin: auto;
}

#hexaView{
    background-color: black;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    border: solid 2px red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* FIN COLOR PICKER */

/* OUR REVIEWS */

.chevron{
    font-size: 3rem;
}

.chevron:hover{
    cursor: pointer;
}

#caroussel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: darkred;
}

#userProfil{
    text-align: center;
    width:60%;
    overflow: hidden;
    /* transition: all ease-in-out 2s; */
}

#userPicture{
    height: 300px;
}

#userName{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

#userJob{
    font-size: 30px;
}

#userComment{
    font-size: 25px;
}

.fa-random{
    font-size: 3rem;
    color: darkred;
    margin-top: 50px;

}

.fa-random:hover{
    cursor: pointer;
}